
  /* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
    width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	min-height: 350px;
	background-image: url('https://res-console.cloudinary.com/dt526dnda/media_explorer_thumbnails/e791dfbf2b8a015ab3587dafb82d2e57/detailed');
	background-blend-mode: luminosity;
	color: var(--main-white-color);
	height: 100vh;
	background-size: cover;
	font: 16px/1.5 "Dosis", sans-serif;
	
  }
  @media (max-width:767px) {
    .page-main{

        padding:2rem;
    }
  }
  .page-main div {
	max-width: 500px;
  }
  
  .page-main h1 {
	margin-bottom: 20px;
	font-weight: bolder;
	font-size: 4rem;
	font-family:'Pacifico';
	font-size: italic;
  }
  
  .page-main p + p {
	margin-top: 10px;
  }

  @media screen and (min-width: 768px) {
	body {
	  font-size: 18px;
	}
  
	.page-main {
	  padding-left: 90px;
	}
  }
  