<% layout("layouts/boilerplate.ejs") %>
<% block("head").append('<link rel="stylesheet" href="/css/home.css">') %>

<main class="page-main">
    <div>
      <h1>StepCone 2K24</h1>
      <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</p>
      <p>It wasn't a dream. His room, a proper human.</p>
    </div>
  </main>

<% block("footer").append('')%>